/*.header-bottom .intro-img .reg-button {
    behavior: url('js/PIE.htc');
}

.single-page .item-head .head-right .head-button {
	position: relative;
    behavior: url('js/PIE.htc');
}*/

.header-bottom {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='img/header-bottom-back.jpg',
	sizingMethod='scale');
}