@media screen and (max-width:1200px) {
	body {
		min-width: 320px;
	}

	.wrap {
		width: auto;
	}

	.header-top .basket-button {
		top: 100%;
	}

	.header-bottom .wrap .logo {
		left: 20px;
	}

	.header .main-menu {
		margin-left: 2%;
	}

	.content .content-filter .tabs-content > li {
		padding-top: 20px;
	}

	.content .content-filter .tab-text {
		float: none;
		margin: 0 20px 0 0;
		width: auto;
		min-height: 0;
	}

	.content .content-filter .selects-wrap {
		float: none;
		position: relative;
		left: 17px;
		width: 520px;
	    margin: 30px auto 0px;
	}

	.content .order-steps .steps-title {
	    margin: 55px 28px 0px 0px;
	    font: bold 40px "Arial";
	}

	.main-page .tires-list {
		margin: 20px auto;
		text-align: center;
		width: auto;
	}

	.main-page .tires-list li {
		margin: 10px 5%;
	}

	.inner-page .catalog-search .tires-list,
	.single-page .tires-list {
		margin: 20px auto;
		text-align: center;
		width: auto;
	}

	.inner-page .catalog-search .tires-list li,
	.single-page .tires-list li {
		margin: 10px 5%;
	}

	.content .brands-list {
		height: 124px;
		width: 590px;
		margin: 0 auto;
	}

	.content .brands-list li {
		width: 16.66%;
	}

	.content .brands-list li img {
		display: block;
	}

	.content .brands-list li .inner {
		border: 0;
		overflow: hidden;
	}

	.footer .top {
		width: 96%;
		margin: 0 2%;
	}

	.footer .bottom {
		overflow: hidden;
	}

	.footer .bottom .wrap {
	    width: 96%;
		margin: 0 2%;
	}

	.footer .copyright {
		margin: 0 5px;
	}

	.footer .social {
	    float: right;
	    margin: 12px 5px 12px 0px;
	}

	.catalog-page {
		float: none;
		margin: 0 auto;
		width: auto
	}

	.catalog-page .triple-block {
	    margin: 10px 0px 0px 0;
	    padding: 10px 0 0 0;
	}

	.catalog-page .triple-block .single-block {
	    float: left;
	    width: 32%;
	}

	.tires-list.horiz li {
		margin: 0 auto 10px;
	}

	.inner-page .catalog-search .search-top {
		margin: 20px 10px 10px;
	}

	.inner-page .catalog-search .search-top .search-title {
		margin-bottom: 10px;
		margin-right: 20px;
	}

	.inner-page .catalog-search .search-top .search-menu li {
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	}

	.sidebar {
	    margin: 25px 4px 0px 0px;
	    width: auto;
	    float: none;
	    text-align: center;
	}

	.sidebar .sidebar-banner,
	.sidebar .share-wrap,
	.sidebar .delivery-banner,
	.sidebar .share-wrap.alter {
	    display: inline-block;
	    margin: 0 15px 40px;
	    width: 180px;
	    vertical-align: middle;
	}

	.single-page {
		float: none;
		margin: 10px 0 0;
		padding: 0 10px;
		width: auto;
	}

	.single-page .item-wrap {
		padding: 0 0 6px;
	}
}

@media screen and (max-width:1070px) {
	.content .order-steps .steps-title {
	    margin: 60px 28px 0px 0px;
	    font: bold 35px "Arial";
	}
}

@media screen and (max-width:1000px) {
	.content .order-steps .steps-title {
	    margin: 63px 28px 0px 0px;
	    font: bold 30px "Arial";
	}

	.single-page .item-info {
		margin-top: -30px;
		margin-right: -50px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.single-page .single-middle .question-block {
		margin-right: -50px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@media screen and (max-width:990px) {
	.catalog-page .triple-block .single-block {
	    float: none;
	    width: 100%;
	    box-shadow: none;
	    text-align: center;
	}

	.catalog-page .triple-block .single-block:nth-child(2),
	.catalog-page .triple-block .single-block:nth-child(3) {
	    box-shadow: none;
	    margin: 0 0 10px;
	    padding-left: 0;
	}

	.tires-list.horiz li {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 10px;
	}
}

@media screen and (max-width:960px) {
	.header-top {
		height: auto;
	}

	.header .main-menu > li {
		width: 30%;
	}
}

@media screen and (max-width:950px) {
	.content .order-steps .steps-title {
	    display: none;
	}

	.content .order-steps {
		padding: 10px 0 0 0;
	}

	.content .order-steps .steps-numbers {
		float: none;
		width: 543px;
		margin: 0 auto;
	}

	.single-page .item-info {
		margin-top: 0px;
		margin-right: 0px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.single-page .single-middle .question-block {
		margin-right: 0px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.single-page .item-img {
		margin: 16px auto 0;
		float: none;
	}

	.single-page .item-info {
		float: none;
		margin: 0 auto;
	}

	.single-page .item-info .item-title {
		float: none;
		margin: 21px 0;
		text-align: center;
	}

	.single-page .item-info .bordered-block {
		margin: 22px auto;
	}

	.single-page .item-info .info-ribbon {
		margin: 15px auto;
		height: 102px;
		background: #66C5E9;
		border-radius: 10px;
		width: 505px;
	}

	.single-page .item-info .info-ribbon .ribbon-left {
		margin-left: 10px;
	}

	.single-page .single-middle .middle-params {
	    float: none;
	    width: 415px;
	    margin: 31px auto 0;
	    overflow: hidden;
	}

	.single-page .single-middle .question-block {
		float: none;
		margin: 37px auto 0;
	}

}

@media screen and (max-width:960px) {
	.footer .top .left {
		float: none;
		margin: 10px 0 10px 0;
	}

	.footer .top .right {
		float: none;
		clear: both;
		margin-bottom: 10px;
	}

	.footer .top .footer-menu {
		margin: 0;
		text-align: center;
	}

	.footer .top .footer-menu li {
		float: none;
		display: inline-block;
		margin-bottom: 10px;
	}

	.footer .top .footer-info {
		text-align: center;
		margin-top: 10px;
	}

	.footer .top .footer-info li {
		float: none;
		display: inline-block;
		text-align: left;
		margin-bottom: 10px !important;
	}

	.footer .top .right {
		margin: 0;
		text-align: center;
	}
}

@media screen and (max-width:900px) {
	.content .content-filter .tabs-content > li {
	    display: none;
	    padding: 20px;
	    min-height: 286px;
	    background: 0;
	}

	.content .content-filter .tab-text {
		margin-right: 0;
	}
}

@media screen and (max-width:900px) {
	.content .main-text-wrap .benefits-block {
		float: none;
		width: auto;
		min-height: 0;
		margin-bottom: 10px;
		overflow: hidden;
	}

	.content .main-text-wrap .benefits-block .benefits-list li {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		margin-right: 1%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.content .main-text-wrap .main-text {
		margin: 0;
		padding: 20px;
	}
}

@media screen and (max-width:800px) {
	.main-page .tires-list li {
		margin: 10px 3%;
	}

	.inner-page .catalog-search .tires-list li,
	.single-page .tires-list li {
		margin: 10px 3%;
	}
}

@media screen and (max-width:720px) {
	.tires-list.horiz li {
	    margin: 0px 5px 10px;
	}

	.single-page .item-head .pagination {
	    float: none;
	    margin: 16px 15px 0px 15px;
	    width: auto;
	}
}

@media screen and (max-width:700px) {
	.header-top {
		height: 42px;
	}

	.main-menu {
		display: none;
		border-radius: 0 0 10px;
	}

	.header-top {
		position: relative;
		z-index: 50;
	}

	.header-top .basket-button {
		top: 0;
	}

	.header-top .menu-button {
		display: block;
	}

	.header .main-menu {
		display: none;
		position: absolute;
		z-index: 50;
		left: 0;
		top: 0;
		margin: 0;
		padding: 40px 0 0 0;
		width: 320px;
		background: #66C5E9;
	}

	.header .main-menu > li {
		float: none;
		margin: 0;
		padding: 0x;
	    width: auto;
	}

	.header .main-menu > li > a {
		padding: 0 20px;
	}

	.header .main-menu > li ul {
		position: relative;
		left: 0;
		top: 0;
		box-shadow: none;
		border-bottom: 1px solid #B3E2F4;
		border-radius: 0;
		background: #399ED6;
	}

	.header .main-menu>li:hover>ul {
	    display: none;
	}

	.header .main-menu>li ul li:hover ul {
	    display: none;
	}

	.header .main-menu > li ul a {
		padding: 7px 30px;
	}

	.header .main-menu > li ul ul {
	    padding: 0 0px;
	    left: 0;
	    top: 0;
	    border-radius: 0;
	    min-width: 0;
	    background: none repeat scroll 0% 0% #1782C7;
	}

	.header .main-menu > li ul ul a {
	    padding: 7px 50px;
	}
}

@media screen and (max-width:690px) {
	.main-page .tires-list li {
		margin: 10px 1%;
	}

	.inner-page .catalog-search .tires-list li,
	.single-page .tires-list li {
		margin: 10px 1%;
	}
}

@media screen and (max-width:680px) {
	.content .content-filter .tabs-menu li {
	    float: none;
	}

	.content .content-filter .tabs-menu {
		height: auto;
	}

	.content .content-filter.hidden .tabs-menu {
	    height: auto;
	}

	.content .content-filter.hidden .tabs-menu li.active {
	    position: relative;
	    z-index: 5;
	    box-shadow: none;
	    background: url("../img/content-filter-menu-arrow.gif") no-repeat scroll right center transparent;
	}

	.content .content-filter.hidden .tabs-menu li.active a {
		color: #006EBD;
	}

	.content .content-filter .tabs-menu li a {
		padding: 0;
		text-align: center;
		line-height: 40px;
	}
	
	.content .content-filter .tabs-menu li:nth-child(2) a {
	    padding: 0;
	}

	.content .content-filter .tabs-menu li.active {
	    position: relative;
	    z-index: 5;
	    box-shadow: none;
	    background: #66C5E9;
	    color: #fff;
	}

	.content .content-filter .tabs-menu li.active a {
	    color: #fff;
	}

	.inner-page .catalog-search .search-top .search-menu {
		margin-left: 5px;
	}
}

@media screen and (max-width:640px) {
	.footer .top .footer-info {
		width: 170px;
		margin: 20px auto;
		text-align: left;
	}

	.footer .top .footer-info li {
		float: none;
		margin: 0 !important;
		display: inline-block;
		margin: 0;
		margin-bottom: 10px !important;
	}
}


@media screen and (max-width:630px) {

	.content .main-text-wrap .benefits-block .benefits-list li {
		display: inline-block;
		vertical-align: top;
		width: 35%;
		margin-right: 1%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.content .brands-list {
		display: none;
	}
}

@media screen and (max-width:565px) {
	.content .content-filter .selects-wrap {
	    float: none;
	    position: relative;
	    left: 20px;
	    width: 435px;
	    margin: 30px auto 0px;
	}

	.main-page .default-select .ui-selectmenu-button {
		width: 140px !important;
	}

	.content .content-filter .filter-button {
		width: 181px;
	}

	.content .order-steps {
		position: relative;

	}

	.content .order-steps .steps-numbers {
		float: none;
		top: 25px;
		width: 543px;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		margin-left: -270px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.single-page .item-info {
		width: 310px;
	}

	.single-page .item-info .info-ribbon {
		float: none;
		padding: 10px 0 0 0;
		width: 310px;
		height: auto;
		text-align: center;
	}

	.single-page .item-info .info-ribbon .ribbon-left,
	.single-page .item-info .info-ribbon .ribbon-price {
		float: none;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.single-page .item-info .info-ribbon .ribbon-button {
		float: none;
		margin: 10px auto;
	}

	.single-page .item-info .sizes-wrap .brand-img-wrap {
		float: none;
		margin: 0 auto;
	}

	.single-page .item-info .sizes-wrap .default-select {
	    float: none;
	    margin: 0;
	    clear: both;
	    text-align: center;
	}

	.single-page .item-info .sizes-wrap .default-select .ui-selectmenu-button {
		margin: 10px 0 0 0;
	}

	.single-page .item-info .bordered-block {
	    margin: 22px 0px 0px 0;
	    padding: 6px 0 0 0;
	    height: auto;
	    overflow: hidden;
	    width: 310px;
	    text-align: center;
	}

	.single-page .item-info .bordered-block .left {
		float: none;
		display: inline-block;
	}

	.single-page .item-info .bordered-block .free-delivery {
		float: none;
		display: inline-block;
	}

	.single-page .item-info .terms-wrap {
		text-align: center;
		margin: 20px;
	}

	.single-page .item-info .terms-wrap > div {
	    float: none;
	    display: inline-block;
	    margin: 10px !important;
	}

	.single-page .single-middle .middle-params {
	    float: none;
	    width: 300px;
	    margin: 0px auto 0px;
	    overflow: hidden;
	}

	.single-page .single-middle .middle-params .params-list {
	    width: 300px;
	}

	.single-page .single-middle .middle-params .params-list li {
		margin: 0;
		width: 300px;
	}

	.single-page .single-middle .question-block {
		margin: 40px auto 0;
		width: 310px;
	}

	.single-page .single-middle .question-head {
		margin: 0;
		padding: 0;
		width: 310px;
	}

	.single-page .single-middle .question-head li {
		float: none;
		margin: 0;
		border-radius: 0;
	}

	.single-page .single-middle .question-forms {
	    margin: 0;
	    border: 1px solid #ccc;
	    background: #F9F9F9;
	}

	.single-page .single-middle .question-forms .form-left {
	    float: none;
	    margin: 0 auto;
	    width: 229px;
	}

	.single-page .single-middle .question-forms .text-input {
		float: none;
		width: 195px;
		margin: 15px auto 0;
	}

	.single-page .single-middle .question-forms .question-button {
		position: static;
		margin: 15px auto;
		width: 229px;
	}

	.single-page .single-text .text-head li {
		padding: 0 20px;
	}

}

@media screen and (max-width:490px) {
	.content .content-filter .selects-wrap {
		width: auto;
		margin: 30px 0 0;
		left: 0;
	}

	.content .content-filter .selects-wrap .default-select {
		float: none;
		text-align: center;
		margin: 0 0 5px;
	}

	.main-page .default-select .ui-selectmenu-button {
		width: 186px !important;
	}

	.content .content-filter .filter-button {
		float: none;
		margin: 0 auto;
		width: 227px;
	}

	.single-page {
	    padding: 0;
	}

	.single-page .item-img {
		width: 310px;
		height: 250px;
	}

	.single-page .item-img .inner {
	    width: 310px;
		height: 250px;
	}

	.single-page .item-img .inner img {
	    max-width: 310px;
	    max-height: 250px;
	}
}

@media screen and (max-width:520px) {
	.header-top .basket-button {
		top: -10px;
		right: -20px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.header-top .basket-button.fixed {
		top: -11px;
		right: -20px;
	}

	.tires-list.horiz li {
		margin: 0 0 10px;
	}
}

@media screen and (max-width:480px) {
	.content .main-text-wrap .benefits-block .benefits-list li {
		display: block;
		width: auto;
		margin-right: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:450px) {
	.content .order-steps {
		display: none;
	}
}

@media screen and (max-width:420px) {
	.header-bottom .wrap .logo {
		top: 31px;
	}
}