/*@font-face {
    font-family: 'Bebas Neue Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebasneue_book.eot');
}

@font-face {
    font-family: 'Bebas Neue Book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebasneue_book.ttf');
}*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-width: 1180px;
    font: 12px/14.5px 'Arial';
    color: #2b2b2b;
    -webkit-font-smoothing: antialiased;
    background: #f5fcfe;
}

a:hover {
    text-decoration: none !important;
}

i {
    font-style: italic;
}

h1, h2 {
    margin: 0;
}

* {
    outline: none;
}

br.clear {
    clear: both;
}

.wrap {
    margin: 0 auto;
    width: 1180px;
}

.header {

}

.header-top {
    position: relative;
    z-index: 100;
    height: 42px;
    background: #66c5e9;
    border-bottom: 1px solid #00aeef;
}

.header-top .wrap {
    position: relative;
}

.header .main-menu>li {
    float: left;
    position: relative;
    margin: 0 15px 0 0;
}

.header .main-menu>li>a {
    display: block;
    padding: 0 7px;
    height: 42px;
    font: bold 14px/43px 'Arial';
    color: #fff;
    letter-spacing: -0.2px;
}

.header .main-menu>li:hover {
    background: url('../img/main-menu-hover.png');
}

.header .main-menu>li ul {
    position: absolute;
    z-index: 10;
    display: none;
    padding: 0 0;
    top: 100%;
    left: 0;
    background: #66C5E9;
    min-width: 100%;
    border-top: 1px solid #B3E2F4;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 3px 4px #B3E2F4;
}

.header .main-menu>li:hover>ul {
    display: block;
}

.header .main-menu>li ul a {
    display: block;
    padding: 7px 7px;
    font: bold 14px/17px 'Arial';
    color: #fff;
    white-space: nowrap;
}

.header .main-menu>li ul li {
    position: relative;
}

.header .main-menu>li ul li:hover {
    background: url('../img/main-menu-hover.png');
}

.header .main-menu>li ul ul {
    display: none;
    padding: 0;
    left: 100%;
    top: -1px;
    border-radius: 0 8px 8px 8px;
}

.header .main-menu>li ul li:hover ul {
    display: block;
}

.header-top .basket-button {
    position: absolute;
    display: block;
    padding: 15px 0 0 88px;
    right: -1px;
    top: 16px;
    width: 153px;
    height: 98px;
    background: url('../img/basket-button.png') 0 0 no-repeat;
    font: bold 16px 'Arial';
    color: #fff;
}

.header-top .basket-button.fixed {
    position: fixed;
    z-index: 200;
    top: 0px;
    right: 10px;
}

.header-top .basket-button span {
    display: block;
    margin: 4px 0 0 0;
    font: 14px 'Arial';
    color: #fff;
}

.header-top .menu-button {
    display: none;
    position: absolute;
    z-index: 60;
    left: 20px;
    top: 8px;
    width: 60px;
    height: 30px;
    background: url('../img/menu-icon.png') 0 0 no-repeat;
}

.header-bottom {
    position: relative;
    height: 288px;
    background: url('../img/header-bottom-back.jpg') center bottom no-repeat;
    background-size: cover;
}

.header-bottom .wrap {
    position: relative;
}

.header-bottom .wrap .logo {
    position: absolute;
    display: block;
    top: 21px;
    width: 211px;
    height: 79px;
    background: url('../img/logo.png') 0 0 no-repeat;
    text-indent: -9999px;
}

.content {
    position: relative;
    padding: 0 0 29px;
    z-index: 20;
    background: url('../img/content-bottom-back.jpg') center bottom no-repeat;
    background-size: 100% auto;
}

.content.main-page {
    margin-top: -161px;
}

.content .content-filter {
    border-top: 1px solid #d8d8d8;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 24px 17px -27px #000;
}

.content .content-filter .tabs-menu {
    height: 57px;
    overflow: hidden;
}

.content .content-filter .tabs-menu li {
    float: left;
}

.content .content-filter .tabs-menu li:first-child {
    border-radius: 8px 0 0 0;
}

.content .content-filter .tabs-menu li.active {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 15px #ccc;
    background: #fff
}

.content .content-filter .tabs-menu li a {
    display: block;
    padding: 0 70px 0 59px;
    font: bold 15px/57px 'Arial';
    color: #006ebd;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.content .content-filter .tabs-menu li:nth-child(2) a {
    padding: 0 70px 0 41px;
}

.content .content-filter .tabs-content {
    /*position: relative;
    z-index: 5;*/
    width: 100%;
    min-height: 308px;
    box-shadow: 0 -12px 25px -15px #ccc;
}

.content .content-filter .tabs-content>li {
    display: none;
    padding: 0 0 22px 344px;
    min-height: 286px;
    background: url('../img/tabs-content-back.jpg') left bottom no-repeat;
    border-radius: 0 0 8px 8px;
}

.content .content-filter .tabs-content>li.active {
    display: block;
}

.default-select {
    position: relative;
}

.default-select .ui-selectmenu-button {
    position: relative;
    border-radius: 0;
    margin: 0;
    padding: 0 27px 0 16px;
    width: 186px !important;
    height: 35px;
    border: 0;
    text-align: left;
    background: #dcedf4;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px #bdccd2;
}

.default-select .ui-selectmenu-button span.ui-icon {
    right: 9px;
    top: 16px;
    width: 15px;
    height: 8px;
    background: url('../img/select-arrows.png') 0 0 no-repeat;
    margin: 0;
}

.default-select.opened .ui-selectmenu-button span.ui-icon {
    background: url('../img/select-arrows.png') 0 -8px no-repeat;
}

.default-select .ui-selectmenu-button span.ui-selectmenu-text {
    font: 12px/35px 'Arial';
    color: #424242;
    padding: 0;
}

.ui-front.opened {
    z-index: 500;
}

.default-select .ui-menu {
    border: 0;
    background: #dcedf4;
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: inset 0 1px 2px #bdccd2;
    border-radius: 6px;
    overflow: hidden;
}

.default-select .ui-menu .ui-menu-item {
    padding: 8px 16px;
    border: 0;
    margin: 0;
    font: 12px/16px 'Arial';
    color: #424242;
    border-bottom: 0;
}

.default-select .ui-menu .ui-menu-item.ui-state-focus {
    background: url('../img/main-menu-hover.png');
}

.content .content-filter .selects-wrap {
    float: left;
    width: 525px;
    margin: 52px 0 0 0;
}

.content .content-filter .selects-wrap .default-select {
    float: left;
    margin: 0 30px 14px 0;
}

.content .content-filter .filter-button {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    border: 0;
    border-radius: 7px;
    border: 1px solid #e0dddd;
    height: 34px;
    width: 225px;
    font: 14px 'Arial';
    color: #006ebd;
    cursor: pointer;
    box-shadow: 0 1px 2px #e7e7e7;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.content .content-filter .tab-text {
    float: right;
    margin: -35px 20px 0 0;
    padding: 21px 28px 20px 28px;
    min-height: 280px;
    width: 234px;
    border-radius: 6px;
    color: #fff;
    font: 12px/17px 'Arial';
    background: #66c5e9; /* Old browsers */
    background: -moz-linear-gradient(top, #66c5e9 0%, #016fbd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66c5e9), color-stop(100%,#016fbd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #66c5e9 0%,#016fbd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #66c5e9 0%,#016fbd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66c5e9 0%,#016fbd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #66c5e9 0%,#016fbd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c5e9', endColorstr='#016fbd',GradientType=0 ); /* IE6-9 */
}

.content .content-filter .tab-text p {
    margin: 0 0 0 2px;
}

.content .content-filter .tab-text .text-title {
    margin: 0 0 31px;
    font: bold 15px 'Arial';
    text-transform: uppercase;
}

.content .order-steps {
    margin: 40px 0 0 0;
    height: 165px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    border-radius: 6px;
}

.content .order-steps .steps-numbers {
    position: relative;
    float: left;
    margin: 10px 0 0 24px;
}

.content .order-steps .steps-numbers .steps-line {
    position: absolute;
    top: 26px;
    height: 5px;
    background: #dcedf4;
    border-radius: 2px;
    width: 543px;
    overflow: hidden;
}

.content .order-steps .steps-numbers .steps-line .inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    background: url('../img/steps-line.jpg');
}

.content .order-steps .steps-numbers .number-list {
    position: absolute;
}

.content .order-steps .steps-numbers .number-list li {
    position: absolute;
    width: 54px;
    height: 54px;
    background: url('../img/order-steps-numbers.png');
    text-indent: -9999px;
}

.content .order-steps .steps-numbers .number-list li:nth-child(1) {
    top: 0;
    left: 41px;
    background: url('../img/order-steps-numbers.png') 0 0;
}

.content .order-steps .steps-numbers .number-list li:nth-child(1).active {
    background: url('../img/order-steps-numbers.png') 0 -54px;
}

.content .order-steps .steps-numbers .number-list li:nth-child(2) {
    top: 0;
    left: 243px;
    background: url('../img/order-steps-numbers.png') -54px 0;
}

.content .order-steps .steps-numbers .number-list li:nth-child(2).active {
    background: url('../img/order-steps-numbers.png') -54px -54px;
}

.content .order-steps .steps-numbers .number-list li:nth-child(3) {
    top: 0;
    left: 447px;
    background: url('../img/order-steps-numbers.png') -108px 0;
}

.content .order-steps .steps-numbers .number-list li:nth-child(3).active {
    background: url('../img/order-steps-numbers.png') -108px -54px;
}

.content .order-steps .steps-list {
    position: absolute;
    top: 65px;
    font: bold 12px 'Arial';
    color: #bcbec0;
    text-transform: uppercase;
}

.content .order-steps .steps-list li {
    position: absolute;
    float: left;
    padding: 0 0 64px;
    text-align: center;
    letter-spacing: 0.5px;
}

.content .order-steps .steps-list li:nth-child(1) {
    left: 1px;
    width: 130px;
    background: url('../img/order-step1.png') center bottom no-repeat;
}

.content .order-steps .steps-list li:nth-child(2) {
    left: 180px;
    width: 180px;
    background: url('../img/order-step2.png') center bottom no-repeat;
}

.content .order-steps .steps-list li:nth-child(3) {
    left: 385px;
    width: 180px;
    background: url('../img/order-step3.png') center bottom no-repeat;
}

.content .order-steps .steps-title {
    float: right;
    margin: 50px 28px 0 0;
    font: bold 48px 'Arial';
    color: #006ebd;
    text-transform: uppercase;
}

.content .main-text-wrap {
    margin: 20px 0 0 0;
}

.content .main-text-wrap .left-text {
    float: left;
}

.content .main-text-wrap .benefits-block {
    float: right;
    padding: 20px 20px 6px 29px;
    width: 333px;
    min-height: 254px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    
    border-radius: 5px;
}

.content .main-text-wrap .benefits-block .benefits-title {
    font: bold 18px 'Arial';
    color: #006ebd;
    text-transform: uppercase;
}

.content .main-text-wrap .benefits-block .benefits-list {
    margin: 22px 0 0 0;
    font: 15px 'Arial';
    color: #636363;
    letter-spacing: 0.5px;
}

.content .main-text-wrap .benefits-block .benefits-list li {
    position: relative;
    margin: 0 0 18px;
    padding: 0 0 0 48px;
}

.content .main-text-wrap .benefits-block .benefits-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 32px;
    height: 35px;
    background: url('../img/benefit-check.png') 0 0 no-repeat;
}

.content .main-text-wrap .main-text {
    margin: 0 397px 0 0;
    padding: 20px 10px 20px 25px;
    border-radius: 5px;
    min-height: 240px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.content .main-text-wrap .main-text .text-title {
    margin: 0 0 29px;
    font: bold 18px 'Arial';
    color: #006ebd;
    text-transform: uppercase;
}

.main-page .tires-list {
    margin: 16px 0 0 0;
}

.tires-list {
    width: 1200px;
}

.tires-list li {
    display: inline-block;
    margin: 0 17px 0 0;
    padding: 7px 9px 10px 8px;
    width: 163px;
    min-height: 181px;
    box-shadow: 0 0 5px #e2e8aa;
    background: #fff;
    border-radius: 6px;
}

.tires-list .tire-top {
    overflow: hidden;
}

.tires-list .tire-top .left {
    float: left;
    margin: 2px 0 0 0;
    width: 108px;
    font: 10px 'Arial';
    color: #404040;
}

.tires-list .tire-top .left .tire-title {
    font: bold 11px Arial;
    color: #000;
}

.tires-list .tire-top .left .img-wrap {
    margin: 4px 0 3px 0;
}

.tires-list .tire-top .left .img-wrap img {
    display: block;
}

.tires-list .tire-top .right {
    float: right;
    margin: 0 2px 0 0;
    width: 51px;
    height: 89px;
    background: #f3f3f3;
    border-radius: 6px;
}

.tires-list .tire-top .right .tyre-param {
    position: relative;
    float: left;
    clear: both;
}

.tires-list .tire-top .right .tyre-param span {
    display: block;
    top: 5px;
    right: 2px;
    position: absolute;
    width: 18px;
    text-align: center;
    font: bold 10px/11px 'Arial';
    color: #449b07;
    text-shadow: 0 0 0 #449b07;
}

.tires-list .tire-top .right .tyre-param.gasoline {
    margin: 3px 0 0 8px;
    width: 38px;
    height: 23px;
    background: url('../img/tire-gasoline-icon.png') 0 0 no-repeat;
}

.tires-list .tire-top .right .tyre-param.weather {
    margin: 5px 0 0 4px;
    width: 41px;
    height: 26px;
    background: url('../img/tire-weather-icon.png') 0 0 no-repeat;
}

.tires-list .tire-top .right .tyre-param.weather span {
    top: 6px;
    right: 1px;
}

.tires-list .tire-top .right .tyre-param.loud {
    margin: 5px 0 0 5px;
    width: 39px;
    height: 24px;
    background: url('../img/tire-loud-icon.png') 0 0 no-repeat;
}

.tires-list .tire-top .right .tyre-param.loud span {
    top: 5px;
    right: 1px;
}


.tires-list .tire-bottom {
    margin: 14px 0 0 0;
}


.tires-list .tire-bottom .tire-type {
    float: left;
    margin: 4px 0 0 1px;
}

.tires-list .tire-bottom .tire-type img {
    display: block;
}

.tires-list .tire-bottom .tire-price {
    float: right;
    text-align: right;
}

.tires-list .tire-bottom .tire-price .new-price {
    display: inline-block;
    margin: 0 3px 0 0;
    font: bold 22px/22px 'Arial';
    color: #016fbd;
    text-shadow: 0 0 0 #016fbd;
    letter-spacing: 1px;
}

.tires-list .tire-bottom .tire-price .old-price {
    position: relative;
    display: inline-block;
    font: bold 15px/19px 'Arial';
    color: #6a6a6a;
    text-shadow: 0 0 0 #016fbd;
}

.tires-list .tire-bottom .tire-price .old-price:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    border-top: 1px solid #6a6a6a;
}

.tires-list .more-button {
    display: block;
    float: left;
    margin: 15px 0 0 0;
    border: 0;
    border-radius: 7px;
    border: 1px solid #e0dddd;
    height: 32px;
    width: 161px;
    font: 14px/32px 'Arial';
    color: #006ebd;
    box-shadow: 0 1px 2px #e7e7e7;
    background: url('../img/tire-list-button.png');
    text-align: center;
}

.content .brands-list {
    margin: 38px 0 0 0;
    height: 62px;
    background: url('../img/brands-list-back.png');
    border: 1px solid #b4b4b4;
}

.content .brands-list li {
    float: left;
    width: 8.33%;
}

.content .brands-list li .inner {
    display: table;
    width: 100%;
    height: 62px;
    border-right: 1px solid #dfdfdf;
}

.content .brands-list li:last-child .inner {
    border: 0;
}

.content .brands-list li .inner a {
    display: table-cell;
    width: 100%;
    height: 62px;
    text-align: center;
    vertical-align: middle;
}

.footer {
    min-height: 242px;
    background: url('../img/footer-back.gif');
    border-top: 1px solid #00aeef;
}

.footer .top {
    margin: 0 auto;
    overflow: hidden;
    border-top: 11px solid #363636;
}

.footer .top .left {
    float: left;
    margin: 25px 0 0 28px;
}

.footer .top .footer-menu {
    overflow: hidden;
}

.footer .top .footer-menu li {
    float: left;
    margin: 0 17px 0 0;
}

.footer .top .footer-menu li a {
    float: left;
    font: 14px 'Arial';
    color: #9c9ea2;
}

.footer .top .footer-menu li a:hover {
    color: #30baef;
}

.footer .top .footer-info {
    margin: 36px 0 0 1px;
    font: 11px/13px 'Arial';
    color: #999;
}

.footer .top .footer-info li {
    float: left;
    padding: 1px 0 0 0;
    min-height: 28px;
}

.footer .top .footer-info p:nth-child(1) {
    text-transform: uppercase;
}

.footer .top .footer-info li:nth-child(1) {
    margin: 0 102px 0 0;
    padding-left: 31px;
    background: url('../img/footer-icons.png') 0 0 no-repeat;
}

.footer .top .footer-info li:nth-child(2) {
    margin: 0 110px 0 0;
    padding: 0;
    padding-left: 35px;
    background: url('../img/footer-icons.png') -226px 0 no-repeat;
}

.footer .top .footer-info li:nth-child(3) {
    padding: 0;
    padding-left: 35px;
    background: url('../img/footer-icons.png') -440px 0 no-repeat;
}

.footer .top .footer-info a {
    text-decoration: underline;
    color: #999;
}

.footer .top .footer-info a:hover {
    text-decoration: none;
}

.footer .top .right {
    float: right;
    margin: 30px 11px 0 0;
    font: 14px/17px 'Arial';
    color: #999;
}

.footer .top .right .title {
    font: 14px 'Arial';
    color: #d0d0d0;
}

.footer .top .right .text {
    margin: 25px 0 0 0;
}

.footer .bottom {
    margin: 30px 0 0 0;
    min-height: 46px;
    background: #363636;
}


.footer .copyright {
    float: left;
    margin: 0 0 0 28px;
    font: 11px/47px 'Arial';
    color: #999;
}

.footer .social {
    float: right;
    margin: 12px 49px 0 0;
}

.footer .social li {
    float: left;
    margin: 0 0 0 15px;
    height: 21px;
    width: 19px;
    background: url('../img/social.png') 0 0 no-repeat;
}

.footer .social li a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer .social li:nth-child(2) {
    background-position: -34px 0;
}

.footer .social li:nth-child(3) {
    background-position: -70px 0;
}

.footer .social li:nth-child(4) {
    background-position: -103px 0;
}



/* Tires List Page */

.alter .header-bottom {
    height: 133px;
}

.inner-page.content .content-filter {
    margin: -6px 0 25px;
}

.content .content-filter.hidden {
    overflow: hidden;
    box-shadow: 0px 23px 17px -25px #000;
}

.content .content-filter.hidden .tabs-content {
    display: none;
}

.content .content-filter.hidden .tabs-menu {
    height: 55px;
    overflow: hidden;
}

.content .content-filter.hidden .tabs-menu li {
    background: url('../img/content-filter-menu-arrow.gif') right center no-repeat;
}

.catalog-page {
    float: left;
    width: 980px;
}

.pagination {
    margin: 0 0 0 25px;
    overflow: hidden;
}

.pagination li {
    float: left;
    font: 14px 'Arial';
    color: #424242;
    text-transform: uppercase;
}

.pagination li a {
    font: 14px 'Arial';
    color: #424242
}

.pagination li.divider {
    margin: 0 4px;
}

.catalog-page .triple-block {
    margin: 10px 0 0 -1px;
    padding: 0px 0 0 12px;
    border: 1px solid #c7cdcf;
    border-radius: 7px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.catalog-page .triple-block .single-block {
    float: left;
    padding: 10px 0 0 0;
}

.catalog-page .triple-block .single-block:nth-child(2) {
    margin: 0 0 0 10px;
    padding-left: 10px;
    box-shadow: inset 6px 0 10px -8px #bbb;
}

.catalog-page .triple-block .single-block:nth-child(2) .block-title {
    margin: 0 0 0 0px;
}

.catalog-page .triple-block .single-block:nth-child(3) {
    margin: 0 0 0 6px;
    padding-left: 10px;
    box-shadow: inset 6px 0 10px -8px #bbb;
}

.catalog-page .triple-block .single-block:nth-child(3) .block-title {
    margin: 0 0 0 0px;
}

.catalog-page .triple-block .block-title {
    margin: 0 0 0 12px;
    font: bold 18px 'Arial';
    color: #006ebd;
}

.catalog-page .triple-block .tires-list.horiz {
    margin: 10px 0 0 0;
}

.tires-list.horiz {
    width: auto;
}

.tires-list.horiz li {
    display: block;
    margin: 0 0 10px;
    width: 293px;
    min-height: 0;
    padding: 7px 5px 8px 8px;
}

.tires-list.horiz li .tire-top {
    float: left;
    margin: 0 0 0 3px;
}

.tires-list .tire-top .right {
    float: left;
    margin: 0 0 0 3px;
}

.tires-list.horiz li .tire-bottom {
    float: left;
    margin: 0 0 0 0;
}

.tires-list li .tire-type div {
    float: left;
    margin: 0 13px 0 0;
}

.tires-list.horiz li .tire-type div {
    float: none;
    margin: 0 0 15px;
    text-align: center;
    width: 44px;
}

.tires-list.horiz li .tire-bottom .tire-type div img {
    display: inline-block;
}

.tires-list.horiz li .tire-bottom .tire-price {
    width: 80px;
    text-align: center;
}

.tires-list.horiz li .tire-bottom .tire-price p {
    display: block;
    margin: 0;
}

.tires-list.horiz li .tire-bottom .tire-price p.old-price {
    margin: 1px 0 0 0;
    text-decoration: line-through;
}

.tires-list.horiz li .tire-bottom .tire-price p.old-price:before {
    display: none;
}

.tires-list.horiz li .tire-bottom .tire-price p.new-price {
    margin: 2px 0 0 0;
}

.tires-list li .tire-bottom .tire-price .new-price {
    position: relative;   
    cursor: default;
}

.tires-list li .tire-bottom .tire-price .new-price .tip {
    position: absolute;
    display: none;
    padding: 9px 5px;
    bottom: 100%;
    margin-bottom: 10px;
    width: 120px;
    height: auto;
    box-shadow: 0 0 5px #006ebd;
    font: 12px/19px 'Arial';
    color: #0b2a00;
    background: #fff;
    left: -20px;
    border-radius: 5px;
}

.tires-list li .tire-bottom .tire-price .new-price .tip:after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -9px;
    width: 18px;
    height: 14px;
    background: url('../img/tires-list-tip-arrow.png') 0 0 no-repeat;
}

.tires-list.horiz li .tire-bottom .tire-price .price-comment {
    margin: 12px 10px 0;
    font: 10px/11px 'Arial';
    color: #404040;
}

.inner-page .catalog-search {
    margin: 21px 0 0 2px;
    border: 1px solid #c7cdcf;
    border-radius: 7px;
}

.inner-page .catalog-search .search-top {
    margin: -8px 23px 0 17px;
    background: #F5FCFE;
    overflow: hidden;
}

.inner-page .catalog-search .search-top .search-title {
    float: left;
    margin: 0 0 0 5px;
    font: 14px 'Arial';
    color: #424242;
    text-transform: uppercase;
}

.inner-page .catalog-search .search-top .search-menu {
    float: right;
    margin: 0 5px 0 0;
}

.inner-page .catalog-search .search-top .search-menu li {
    float: left;
}

.inner-page .catalog-search .search-top .search-menu li.divider {
    margin: 0 4px;
}

.inner-page .catalog-search .search-top .search-menu li a {
    font: 14px 'Arial';
    color: #424242;
}

.inner-page .catalog-search .tires-list {
    margin: 21px 0 0 7px;
    width: 980px;
}

.inner-page .catalog-search .tires-list li {
    margin-right: 12px;
    margin-bottom: 21px;
}

.catalog-search .tires-list li .tire-type {
    float: left;
    margin-left: 5px;
}

.inner-page .catalog-search .tires-list li:nth-last-child(-n+5) {
    margin-bottom: 5px;
}

.sidebar {
    margin: 9px 4px 0 0;
    width: 180px;
    float: right;
}

.sidebar .sidebar-banner {
    border-radius: 10px;
    overflow: hidden;
}

.sidebar .sidebar-banner img {
    display: block;
}

.sidebar .sidebar-banner .banner-text {
    padding: 7px 0 5px 0;
    min-height: 42px;
    background: url('../img/banner-text-back.gif');
    font: bold 17px/20px 'Arial';
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.sidebar .share-wrap {
    margin: 29px 0 0 0;
}

.sidebar .share-wrap .share-title {
    font: bold 14px 'Arial';
    color: #006ebd;
}

.sidebar .share-wrap .share-details {
    font: 12px/14.5px 'Arial';
    color: #0b2a00;
}

.sidebar .share-wrap .share-button {
    display: block;
    margin: 17px 0 0 3px;
    border: 0;
    border-radius: 7px;
    border: 1px solid #e0dddd;
    height: 32px;
    width: 161px;
    font: 14px/32px 'Arial';
    color: #006ebd;
    box-shadow: 0 1px 2px #e7e7e7;
    background: url('../img/tire-list-button.png');
    text-align: center;
}

.sidebar .delivery-banner {
    margin: 38px 0 23px 0;
    padding: 127px 0 0 0;
    background: url('../img/delivery-banner-img.png') center top no-repeat;
    font: bold 18px 'Arial';
    color: #006ebd;
    text-align: center;
    text-transform: uppercase;
}

.sidebar .sidebar-banner.second-banner .banner-text {
    padding: 20px 0 5px 0;
    min-height: 28px;
    background: url('../img/banner-text-back.gif');
    font: bold 17px/20px 'Arial';
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.sidebar .share-wrap.alter {
    margin: 24px 0 0 15px;
}

.inner-page .brands-list {
    margin: 55px 0 0 0;
}

/* END Tires List Page */


/* Single Page */

.single-page {
    float: left;
    margin: 10px 0 0 -8px;
    width: 980px;
}

.single-page .item-wrap {
    padding: 0 0 6px;
    border: 1px solid #c7cdcf;
    border-radius: 6px;
    background: #fff;
}

.single-page .item-head {
    padding: 0 0 7px;
    overflow: hidden;
    box-shadow: 0 3px 20px -10px #aaa;
}

.single-page .pagination li {
    text-transform: none;
}

.single-page .pagination li a {
    text-transform: none;
}

.single-page .item-head .pagination {
    float: left;
    margin: 16px 0 0 32px;
    width: 600px;
}

.single-page .item-head .head-right {
    float: right;
}

.single-page .item-head .head-right .head-button {
    float: right;
    display: block;
    margin: 10px 5px 0 3px;
    padding: 0 7px 0 11px;
    border: 0;
    border-radius: 7px;
    border: 1px solid #e0dddd;
    height: 23px;
    font: 14px/23px 'Arial';
    color: #006ebd;
    box-shadow: 0 1px 2px #e7e7e7;
    background: url('../img/tire-list-button.png');
    text-align: center;
    letter-spacing: 0.1px;
}

.single-page .item-head .head-right .head-socials {
    float: right;
    margin: 10px 11px 0 0;
}

.single-page .item-img {
    float: left;
    margin: 16px 0 0 10px;
    width: 445px;
    height: 358px;
}

.single-page .item-img .inner {
    display: table-cell;
    width: 445px;
    height: 358px;
    text-align: center;
    vertical-align: middle;
}

.single-page .item-img .inner img {
    max-width: 452px;
    max-height: 358px;
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image,
.fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox-sprite.png');
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox-loading.gif') center center no-repeat;
}
.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}
/* Overlay helper */
/*.fancybox-lock {
    overflow: hidden;
}*/
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox-overlay.png');
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
}
/* Title helper */
.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

.single-page .item-info {
    float: right;
    width: 505px;
}

.single-page .item-info .item-title {
    margin: 21px 7px 0 0;
    text-align: right;
    font: bold 18px 'Arial';
    color: #006ebd;
}

.single-page .item-info .item-title span {
    font-weight: 400;
}

.single-page .item-info .info-ribbon {
    float: right;
    margin: 15px -14px 0 0;
    width: 518px;
    height: 119px;
    background: url('../img/item-info-ribbon.gif');
}

.single-page .item-info .info-ribbon .ribbon-left {
    float: left;
    margin: 17px 0 0 29px;
    width: 85px;
    padding: 2px 31px 5px 0;
    min-height: 65px;
    background: url('../img/ribbon-left-divider.png') right top repeat-y;
    text-align: right;
    font: 13px 'Arial';
    color: #fff;
}

.single-page .item-info .info-ribbon .ribbon-left .old {
    margin: 5px 0 0 0;
    font: 13px 'Arial';
    text-decoration: line-through;
}

.single-page .item-info .info-ribbon .ribbon-left .economy {
    margin: 2px 0 0 0;
    font: bold 22px 'Arial';
}

.single-page .item-info .info-ribbon .ribbon-price {
    float: left;
    margin: 22px 0 0 12px;
    width: 115px;
    text-align: center;
    font: bold 28px 'Arial';
    color: #fff;
}

.single-page .item-info .info-ribbon .ribbon-price .lt-price {
    font: 15px 'Arial';
    color: #fff;
}

.single-page .item-info .info-ribbon .ribbon-price .lt-price span {
    font-size: 9px;
    vertical-align: top;
}

.single-page .item-info .info-ribbon .ribbon-button {
    display: block;
    float: right;
    margin: 23px 19px 0 0;
    padding: 0 0 0 86px;
    width: 131px;
    height: 58px;
    background: url('../img/ribbon-button.png') 0 0 no-repeat;
    font: bold 23px/55px 'Arial';
    text-transform: uppercase;
    color: #71a2b5;
    color: rgba(113, 162, 181, 0.8);
    text-shadow: 1px 4px 6px #F6F6F6, 0 0 0 #000;
}

.single-page .item-info .sizes-wrap {
    height: 92px;
}

.single-page .item-info .sizes-wrap .brand-img-wrap {
    float: left;
    margin: 0 0 0 25px;
    width: 180px;
    text-align: center;
}

.single-page .item-info .sizes-wrap .default-select {
    float: right;
    margin: 16px 27px 0 0;
}

.single-page .item-info .bordered-block {
    margin: 22px 0 0 31px;
    height: 78px;
    border-top: 1px dashed #c3c3c3;
    border-bottom: 1px dashed #c3c3c3;
    width: 466px;
}




.single-page .item-info .bordered-block .left {
    float: left;
    margin: 9px 0 0 0;
}



.single-page .item-info .bordered-block .tyre-params {
    margin: 0 2px 0 0;
    width: 151px;
    height: 36px;
    background: #f3f3f3;
    border-radius: 6px;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param {
    position: relative;
    float: left;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param span {
    display: block;
    top: 5px;
    right: 2px;
    position: absolute;
    width: 18px;
    text-align: center;
    font: bold 10px/11px 'Arial';
    color: #449b07;
    text-shadow: 0 0 0 #449b07;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param.gasoline {
    margin: 4px 0 0 8px;
    width: 38px;
    height: 23px;
    background: url('../img/tire-gasoline-icon.png') 0 0 no-repeat;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param.weather {
    margin: 4px 0 0 7px;
    width: 41px;
    height: 26px;
    background: url('../img/tire-weather-icon.png') 0 0 no-repeat;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param.weather span {
    top: 6px;
    right: 1px;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param.loud {
    margin: 5px 0 0 7px;
    width: 39px;
    height: 24px;
    background: url('../img/tire-loud-icon.png') 0 0 no-repeat;
}

.single-page .item-info .bordered-block .tyre-params .tyre-param.loud span {
    top: 5px;
    right: 1px;
}

.single-page .item-info .bordered-block .tyre-type {
    margin: 9px 0 0 0;
    width: 146px;
    text-align: center;
    vertical-align: middle;
}

.single-page .item-info .bordered-block .tyre-type img {
    margin: 0 4px;
}

.single-page .item-info .bordered-block .free-delivery {
    float: right;
    margin: 8px 4px 0 0;
    padding: 14px 0 0 55px;
    width: 235px;
    height: 50px;
    background: url('../img/free-delivery-icon.gif') left center no-repeat;
}

.single-page .item-info .bordered-block .free-delivery .delivery-title {
    font: bold 15px 'Arial';
    color: #424242;
    text-transform: uppercase;
}

.single-page .item-info .bordered-block .free-delivery .delivery-subtitle {
    font: 12px 'Arial';
    color: #424242;
}

.single-page .item-info .terms-wrap {
    margin: 35px 0 0 52px;
}

.single-page .item-info .terms-wrap>div {
    float: left;
}

.single-page .item-info .terms-wrap .delivery-time {
    width: 80px;
    text-align: center;
    padding: 0 0 0 39px;
    background: url('../img/info-terms-img1.gif') left 2px no-repeat;
    min-height: 27px;
}

.single-page .item-info .terms-wrap .term-title {
    font: bold 12px/12px 'Arial';
    color: #888;
}

.single-page .item-info .terms-wrap .term-detail {
    font: bold 12px 'Arial';
    color: #0923fb;
}

.single-page .item-info .terms-wrap a.term-detail {
    text-decoration: underline;
}

.single-page .item-info .terms-wrap .terms-pdf {
    margin: 1px 0 0 57px;
    width: 62px;
    text-align: center;
    padding: 0 0 0 24px;
    background: url('../img/info-terms-img2.gif') left center no-repeat;
    min-height: 28px;
}

.single-page .item-info .terms-wrap .terms-weight {
    margin: 0 0 0 46px;
    width: 50px;
    text-align: center;
    padding: 0 0 0 34px;
    background: url('../img/info-terms-img3.gif') left center no-repeat;
    min-height: 30px;
}

.single-page .single-middle .middle-params {
    float: left;
    margin: 31px 0 0 14px;
}

.single-page .single-middle .middle-params .params-list {
    width: 430px;
}

.single-page .single-middle .middle-params .params-list li {
    float: left;
    margin: 0 10px 0 0;
    padding: 13px 0;
    width: 202px;
    border-bottom: 1px dashed #b9b9b9;
    overflow: hidden;
}

.single-page .single-middle .middle-params .params-list li .param-title {
    float: left;
    font: bold 11px/11px 'Arial';
}

.single-page .single-middle .middle-params .params-list li .param-value {
    float: right;
    margin: 0 5px 0 0;
    font: 11px/11px 'Arial';
}

.single-page .single-middle .question-block {
    float: right;
    margin: 37px 12px 0 0;
    width: 511px;
    /*outline: 1px solid black;*/
}

.single-page .single-middle .question-head {
    margin-bottom: -1px;
    padding: 0 0 0 23px;
    width: 510px;
    overflow: hidden;
}

.single-page .single-middle .question-head li {
    float: left;
    margin: 0 11px 0 0;
    padding: 0 32px;
    height: 35px;
    font: bold 12px/35px 'Arial';
    color: #000;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d0d0d0;
    border-bottom: 0;
    border-bottom: 0;
    background: url('../img/questions-head.gif');
    cursor: pointer;
}

.single-page .single-middle .question-head li.active {
    background: url('../img/questions-head-active.gif');
}

.single-page .single-middle .question-forms {
    padding: 28px 0 0 0;
    margin: 0 0 0 -3px;
    border-top: 1px solid #d1d1d1;
}

.single-page .single-middle .question-forms>li {
    display: none;
}

.single-page .single-middle .question-forms>li.active {
    display: block;
}

.single-page .single-middle .question-forms .question-wrap {
    position: relative;
}

.input-default {
    display: block;
    position: relative;
    border-radius: 0;
    margin: 0;
    padding: 0 27px 0 16px;
    width: 186px !important;
    height: 35px;
    border: 0;
    text-align: left;
    background: #dcedf4;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px #bdccd2;
}

.single-page .single-middle .question-forms .form-left {
    float: left;
    width: 233px;
}

.single-page .single-middle .question-forms .form-left .input-default {
    margin: 0 0 16px;
}

.single-page .single-middle .question-forms .text-input {
    display: block;
    float: right;
    border-radius: 0;
    margin: 0 3px 0 0;
    padding: 8px 27px 0 7px;
    width: 235px;
    height: 128px;
    border: 0;
    text-align: left;
    background: #dcedf4;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px #bdccd2;
    resize: none;
    overflow: hidden;
    font: 12px/15px 'Arial';
    color: #424242;
}

.single-page .single-middle .question-forms .question-button {
    display: block;
    position: absolute;
    right: 7px;
    top: 95px;
    margin: 0 0 0 1px;
    border: 0;
    border-radius: 7px;
    border: 1px solid #e0dddd;
    height: 34px;
    width: 105px;
    font: 14px 'Arial';
    color: #006ebd;
    cursor: pointer;
    box-shadow: 0 1px 2px #e7e7e7;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}




.single-page .single-text {
    margin: 26px 15px 0 11px;
    /*height: 200px;*/
}

.single-page .single-text .text-head {
    margin-bottom: -1px;
    padding: 0 0 0 23px;
    overflow: hidden;
}

.single-page .single-text .text-head li {
    float: left;
    margin: 0 11px 0 0;
    padding: 0 60px 0 50px;
    height: 35px;
    font: bold 13px/38px 'Arial';
    color: #1e2e42;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d0d0d0;
    border-bottom: 0;
    background: url('../img/questions-head.gif');
    cursor: pointer;
}

.single-page .single-text .text-head li.active {
    background: url('../img/questions-head-active.gif');
}

.single-page .single-text .text-tabs {
    border-top: 1px solid #d1d1d1;
}

.single-page .single-text .text-tabs li {
    display: none;
    padding: 27px 0 20px 9px;
}

.single-page .single-text .text-tabs li.active {
    display: block;
}

.single-page .tires-list {
    margin: 35px 0 8px 8px;
    width: 990px;
}

.single-page .tires-list li {
    margin-right: 15px;
}

.default-select .ui-menu.overflow { 
    max-height: 290px;
    overflow: auto;
    overflow-x: hidden;
}

.ui-selectmenu-menu {
    overflow: hidden;
    border-radius: 6px;
}

/* END Single Page */






.fancyclass, 
    .fancyclass .fancybox-skin 
    {
        width: 600px !important;
        height: 400px !important;
        text-align: center;
    }
    .fancyclass .fancybox-skin 
    {
        line-height: 400px;
    }
    .fancyclass .fancybox-outer {
        height: inherit;
        width: inherit;
    }
    .fancyclass .fancybox-inner {
        display: inline-block;
        vertical-align: middle;
    }